
/*
+----------------------------------------------------------------+
:: COLORS
+----------------------------------------------------------------+
*/

$orange: #ff8207;
$orange-light: #f18041;
$yellow: #f9d036;
$yellow-dark: #e7c132;
$blue: #2e85c4;
$gray: #535353;


/*
+----------------------------------------------------------------+
:: FONTS
+----------------------------------------------------------------+
*/

$font-default: "Helvetica Neue", Arial, Verdana;
$font-second: "Arial", Verdana;