

body
  font 14px "Open Sans", Helvetica, Arial, sans-serif;
  background-color: #f9f9f9;
  overflow-x: hidden;

a
  color #00B7FF
  
.nice 
  font-weight: 300;
  font-size: 1.5rem;

.carousel-item img
    margin: 0 auto
    width: auto;
    height: 325px !important;
.tags .label
  margin-right: 10px;

// Review  
.review img
  height: 64px;
  display: block;
  border-radius: 10px;
  float: left;
  margin: 20px;
  
  
  
.review small.text-muted
  color: white;
.review .card-text
  color: white;
// Rating
.rating i
  color: #ff4d58;
  font-size: 16px;
  
  
.place-name
  color: #ff4d58;
  font-weight: 400;
  
.text-center
  text-align: center;
  
.box-white
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.075);
  margin: 10px 0;
  border-radius: 4px;
  padding: 15px;
  
  
.place-tags 
  text-align: center;
  padding: 0;

.place-tag
  width: 33.3%;
  float: left;
  list-style: none;
  text-transform: capitalize;
  margin: 10px 0;


.galery-photo
  float: left;
  position: relative;
  width: 90px;
  height: 90px;
  overflow: hidden;
  margin: 1.56%;

.galery-photo img
  position: absolute;
  margin: auto;
  width: 130px;
  height: 100px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

.thumbnail
  color: #919191;
  margin: 0 0 10px;
  

@media (max-width: 767px)
  .multi-item-carousel .carousel-inner
    height: 400px;
    
  .multi-item-carousel .col-xs-4
    width: 100%;
    
ul.links-details
  padding: 0;
  width: 70%;
  margin: 30px auto;

li.link-detail
  list-style: none;
  float: left;
  text-align: center;
  width: 50%;
