
<ul class="widget-list">

     <li ng-repeat="location in content" class="content-list">
        <figure>
            <img ng-src="{{location.image}}" alt="{{location.description}}"/>            
        </figure>
        <div class="description">
            <h6 class="font-h4 font-weight color-link">{{location.description}}</h6>
            <widget-stars content="location.statistics.rating"></widget-stars> 
            <p class="font-psmall">
                <span ng-repeat="cat in location.categories">{{cat.name}}</span>
            </p>
        </div>
     </li>
</ul>