
<div class="content-container">		
  <div class="box-container two-third">
    <div class="box shadow">
      <h1>Parque do Ibirapuera</h1>
      <div class="reviews">
        <span class="rating" title="4.6">
          <span class="stars off"></span>
          <span class="stars on" style="width: 103.04px;"></span><!-- rating * 112/5 -->
        </span>
        <span class="reviews-count">(<a href="#">239 avaliações</a>)</span>
      </div>
      <div class="address">
        Avenida Pedro Álvares Cabral, s/n, Portão 10 (Ibirapuera), Parque Ibirapuera, São Paulo - SP, CEP: 04094-050
      </div>
      <div class="buttons">
        <div class="bt-container"><button class="orange ico phone">Ver telefone</button></div>
        <div class="bt-container"><button class="orange ico direction">Como chegar</button></div>
        <div class="bt-container"><button class="white ico share">Compartilhar</button></div>
      </div>
      <div class="map">
        <h2>Mapa</h2>
        <div class="image"><img src="assets/images/mapa.jpg"></div>
      </div>
      <div class="buttons">
        <button class="white">Ver outros locais nesta rua</button>
      </div>

      <hr>

      <div class="photos">
        <h2>Fotos</h2>
        <ul>
          <li><img src="assets/images/foto1.jpg"></li>
          <li><img src="assets/images/foto2.jpg"></li>
          <li><img src="assets/images/foto3.jpg"></li>
          <li><img src="assets/images/foto4.jpg"></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="box-container one-third">
    <div class="box shadow working-hours">
      <h2>Horário de atendimento</h2>
      <span class="status-text green">Aberto</span>
      <p>Dom à Sáb: 05:00 às 00:00</p>
    </div>
  </div>
  <div class="box-container one-third">
    <div class="box shadow">
      <h2>Sobre</h2>
      <p>O Parque Ibirapuera é o parque urbano mais importante da cidade de São Paulo e foi inaugurado dia 21 de agosto de 1954. No parque a população conta com ciclovia, treze quadras iluminadas, pistas destinadas a cooper, passeios e descanso, todas integradas à área cultural.</p>

      <hr>

      <h2>Outras informações</h2>
      <p>Nenhuma informação disponível ainda</p>

      <h3>Links</h3>
      <ul class="links-list">
        <li><a href="http://www.parquedoibirapuera.com" target="_blank">http://www.parquedoibirapuera.com</a>
      </ul>
    </div>
  </div>
</div>


