<div class="container local" ng-if="place">
  <div class="row">
    <p class="title">{{place.name}}</p>
    <star-rating rating='place.statistics.rating' ></star-rating>
  </div>
  <div class="row">
    <local-details></local-details>
  </div>
  <div>
    <local-photos ng-if="placePhotos"></local-photos>
    <div class='ki-col-4 section'>
      <span class="place-text">
        O Parque Ibirapuera é o parque urbano mais importante da cidade de São Paulo e foi inaugurado dia 21 de agosto de 1954. No parque a população conta com ciclovia, treze quadras iluminadas,pistas destinadas a cooper, passeios e descanso, todas integradas à área cultural.
      </span>
      <span class="map-content">
        <img src="{{mapUrl}}" height="100%" width="100%">
        <span class="map-bg"></span>
        <span class="map-text"><i class="fa fa-map-marker" aria-hidden="true"></i> ver mapa</span>
      </span>
    </div>
  </div>
  <div>
    <span>TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEErheuiwhrwrui hweuirh weuihruiwe hruiweh uirhwe ruihewuirhweui rheuiwhr uiwhuirweirh </span>
    <span>TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEErheuiwhrwrui hweuirh weuihruiwe hruiweh uirhwe ruihewuirhweui rheuiwhr uiwhuirweirh </span>
    <span>TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEErheuiwhrwrui hweuirh weuihruiwe hruiweh uirhwe ruihewuirhweui rheuiwhr uiwhuirweirh </span>
    <span>TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEErheuiwhrwrui hweuirh weuihruiwe hruiweh uirhwe ruihewuirhweui rheuiwhr uiwhuirweirh </span>
    <span>TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEErheuiwhrwrui hweuirh weuihruiwe hruiweh uirhwe ruihewuirhweui rheuiwhr uiwhuirweirh </span>
    <span>TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEErheuiwhrwrui hweuirh weuihruiwe hruiweh uirhwe ruihewuirhweui rheuiwhr uiwhuirweirh </span>
    <span>TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEErheuiwhrwrui hweuirh weuihruiwe hruiweh uirhwe ruihewuirhweui rheuiwhr uiwhuirweirh </span>
    <span>TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEErheuiwhrwrui hweuirh weuihruiwe hruiweh uirhwe ruihewuirhweui rheuiwhr uiwhuirweirh </span>
    <span>TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEErheuiwhrwrui hweuirh weuihruiwe hruiweh uirhwe ruihewuirhweui rheuiwhr uiwhuirweirh </span>
    <span>TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEErheuiwhrwrui hweuirh weuihruiwe hruiweh uirhwe ruihewuirhweui rheuiwhr uiwhuirweirh </span>
    <span>TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEErheuiwhrwrui hweuirh weuihruiwe hruiweh uirhwe ruihewuirhweui rheuiwhr uiwhuirweirh </span>
    <span>TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEErheuiwhrwrui hweuirh weuihruiwe hruiweh uirhwe ruihewuirhweui rheuiwhr uiwhuirweirh </span>
    <span>TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEErheuiwhrwrui hweuirh weuihruiwe hruiweh uirhwe ruihewuirhweui rheuiwhr uiwhuirweirh </span>
    <span>TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEErheuiwhrwrui hweuirh weuihruiwe hruiweh uirhwe ruihewuirhweui rheuiwhr uiwhuirweirh </span>
    <span>TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEErheuiwhrwrui hweuirh weuihruiwe hruiweh uirhwe ruihewuirhweui rheuiwhr uiwhuirweirh </span>
    <span>TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEErheuiwhrwrui hweuirh weuihruiwe hruiweh uirhwe ruihewuirhweui rheuiwhr uiwhuirweirh </span>
    <span>TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEErheuiwhrwrui hweuirh weuihruiwe hruiweh uirhwe ruihewuirhweui rheuiwhr uiwhuirweirh </span>
    <span>TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEErheuiwhrwrui hweuirh weuihruiwe hruiweh uirhwe ruihewuirhweui rheuiwhr uiwhuirweirh </span>
    <span>TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEErheuiwhrwrui hweuirh weuihruiwe hruiweh uirhwe ruihewuirhweui rheuiwhr uiwhuirweirh </span>
    <span>TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEErheuiwhrwrui hweuirh weuihruiwe hruiweh uirhwe ruihewuirhweui rheuiwhr uiwhuirweirh </span>
    <span>TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEErheuiwhrwrui hweuirh weuihruiwe hruiweh uirhwe ruihewuirhweui rheuiwhr uiwhuirweirh </span>
    <span>TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEErheuiwhrwrui hweuirh weuihruiwe hruiweh uirhwe ruihewuirhweui rheuiwhr uiwhuirweirh </span>
  </div>
</div>
