doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    block css
      link(rel='stylesheet', href='/css/ext/bootstrap.min.css')
      link(rel='stylesheet', href='/css/ext/font-awesome.min.css')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800')
      link(rel='stylesheet', href='/css/style.css')
    block js
      if ENV_DEVELOPMENT
        script(src='//localhost:35729/livereload.js')
        
      script(src='//code.jquery.com/jquery-2.2.4.min.js')
      script(src='/js/ext/bootstrap.min.js')
  body
    block content
