* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  margin: 0;
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
}

header {
  margin: 0;
  position: fixed;
  z-index: 99999;
  background: #fcfcfc;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 0 2px 0 rgba(0,0,0,0.12);
  padding: 16px;
  align-items: center;
  width: 100%;
  display: flex;
}

.box{
  display: block;

}

.left{
  margin-right: 16px;
  float: left;
}



.row {
  float: left;
  width: 100%;
}



.component {
  display: block;
  float: left;
}

.box {
  display: block;
  float: left;
}

.box.right, .component.right {
  float: right;
}

button {
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  background: 0;
  cursor: pointer;
  text-transform: uppercase;
  padding: 11px 12px;

}

body main {
  margin-top: 86px;
  float: left;
  width: 100%;
}

.flex-box {
  display: flex;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li a span {
  color: #6c6c6c;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}



.shadow-default {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 0 2px 0 rgba(0,0,0,0.12);
  background: #fff;
  border-radius: 2px;
}

.box.left, .component.left {
  float: left;
}

ul.stars {
  float: left;
  margin-right: 13px;
}

ul.stars li.star.filled {
  background: url(https://newpoi-assets.apontador.com.br/website/images/estrela_ativada.svg) no-repeat;
  background-size: cover;
}

ul.stars li.star {
  background: url(https://newpoi-assets.apontador.com.br/website/images/estrela_desativada.svg) no-repeat;
  width: 20.6px;
  height: 19.6px;
  background-size: cover;
}

ul.stars li {
  float: left;
  margin-right: 3px;
}

ul.stars li:last-child {
  margin-right: 0;
}

.box.right, .component.right {
  float: right;
}

.distancy {
  background: url(https://newpoi-assets.apontador.com.br/website/images/distancia.svg) no-repeat;
  padding-left: 20px;
  background-position: center left;
  float: right;
}


@media screen and (max-width: 600px){

  h4 {
    font-size: 2.5em;
  }
}



